body {
    margin: 0;
    padding: 0;
    overflow: hidden;

    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#canvas {
  background-color: rgba(158, 167, 184, 0.2);
}

#start-button {
    color: white;
    font-size: 16px;
    font-weight: bold;
    height: 40px;
    line-height: 40px;
    margin-bottom: 20px;
    pointer-events: auto;
    text-align: center;
    width: 100px;
}

.start-button-active {
    background: rgb(136, 208, 250);
    cursor: default;
}

.start-button-active:hover {
    background: rgb(136, 220, 248);
}

.start-button-active:active {
    background: rgb(136, 180, 250);
}

.start-button-inactive {
    background: rgb(192, 192, 192);
    cursor: default;
}

#preset-button {
    background: rgb(236, 236, 112);
    color: white;
    cursor: default;
    font-size: 16px;
    font-weight: bold;
    height: 40px;
    line-height: 40px;
    margin-bottom: 10px;
    pointer-events: auto;
    text-align: center;
    width: 100px;
}

#preset-button:hover {
    background: rgb(242, 240, 128);
}

#preset-button:active {
    background: rgb(252, 252, 118);
}

#ui {
    left: 40px;
    pointer-events: none;
    position: absolute;
    top: 30px;
}

#particle-count {
    color: rgb(68, 68, 68);
    font-size: 12px;
    margin-top: 4px;
}

.slider-label {
    color: rgb(99, 99, 99);
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
}

.slider {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    background: rgba(0, 0, 0, 0.1);
    height: 24px;
    margin-top: 4px;
    pointer-events: auto;
    user-select: none;
    width: 200px;
}

.slider:hover {
    background: rgba(0, 0, 0, 0.12);
}

.slider div {
    background: rgb(102, 102, 102);
}

.slider:hover div {
    background: rgb(84, 84, 84);
}

.instructions {
    bottom: 30px;
    color: #555555;
    font-size: 16px;
    left: 40px;
    line-height: 16px;
    margin-top: 20px;
    position: absolute;
}

.instructions span {
    color: rgb(68, 68, 68);
    font-weight: bold;
}

#container {
    color: rgb(48, 48, 48);
    font-size: 16px;
    margin-top: 40px;
    margin-left: 40px;
}
